{% extends "base.html" %}
{% block title %}{{ u.name }} - Repl Talk{% endblock %}
{% block body %}
<h1><a href="{{ u.url }}" style="text-decoration: none;">{{ u.name }}</a> ({{ u.cycles }})</h1>
<div class="avatar" style='background-image:url("{{u.avatar}}")'></div>
{% set start_time = (history[0].time - epoch).total_seconds() %}
{% set end_time = (history[-1].time - epoch).total_seconds() %}
{% set max_cycles = u.cycles+10 %}

{% set max_y = {'value': 0} %}
{% set points = [] %}
{% for timeframe in history %}
	{% set timeframe_time = (timeframe.time - epoch).total_seconds() %}
	{% set x = ((timeframe_time - start_time) / (end_time - start_time) * 100)|int %}
	{% set y = 100 - (timeframe.cycles / max_cycles * 100)|int %}
	{% do points.append(
		[x, y]
	) %}
	{% if y > max_y.value %}
		{% if max_y.update({'value': y}) %}{% endif %}
	{% endif %}
{% endfor %}
<h3>Previous cycle history:</h3>
<svg viewBox="0 0 100 {{ max_y.value }}" preserveAspectRatio="none" class="graph-svg" width="100%" height="100%">
	<path d="
	{% for i in range(1, points|length) %}
		{% set h = points[i-1] %}
		{% set h2 = points[i] %}
		{% if i == 1 %}
			M{{ h[0] }},{{ h[1] }}
		{% else %}
			L{{ h2[0] }},{{ h2[1] }}
		{% endif %}
	{% endfor %}
	" stroke="white" stroke-width="2" vector-effect="non-scaling-stroke">
</svg>
{% endblock %}